= form_for item do |f|
  - if item.errors.any?
    .errors
      = item.errors.full_messages.to_sentence
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body

  = f.submit